# stripe or lemon_squeezy
PUBLIC_CHECKOUT_PROVIDER=stripe

PUBLIC_STRIPE_STARTER_URL=https://buy.stripe.com/5kQdR85fi2TH8NUeXK7IY00
PUBLIC_STRIPE_PRO_URL=https://buy.stripe.com/00w6oGdLOgKx0hog1O7IY01
PUBLIC_STRIPE_AGENCY_URL=https://buy.stripe.com/5kQaEWbDG2TH7JQeXK7IY02

PUBLIC_LEMON_SQUEEZY_STARTER_URL=https://commerceforge.lemonsqueezy.com/checkout/buy/7329762b-2769-4dcf-8a78-d01e251b3471
PUBLIC_LEMON_SQUEEZY_PRO_URL=https://commerceforge.lemonsqueezy.com/checkout/buy/2406800a-091e-45e8-b51f-658f14d87c41
PUBLIC_LEMON_SQUEEZY_AGENCY_URL=https://commerceforge.lemonsqueezy.com/checkout/buy/67c9e5cc-5e13-4e5f-aa78-06136a319b68
